/* Simple selectors 

ID Selector 

Important: An ID name must be unique in the document. Behaviors regarding duplicated 
IDs are unpredictable. For example, in some browsers, only the first instance is counted, 
and the rest are ignored.

*/
#polite {
    font-family: cursive;
  }

/* ------------------------------------------
  Universal selector
  
  Important: Take care when using the universal selector. As it applies to all elements, using it 
  in large web pages can have a perceptible impact on performance: web pages display slower than 
  expected. There are not many instances where you'd use this selector.
  */

  * {
    padding: 5px;
    border: 1px solid black;
    background: rgba(255,0,0,0.25)
  }
  

/* _________________________________________________

   Attribute selectors */

/* ---------------------------------------
    Presence and value attribute selectors 

   [attr] 
   [attr=val] 
   [attr~=val] */

  /* <li data-quantity="1kg" data-vegetable>Tomatoes</li> */
   [data-vegetable] {
    color: green;
  }
  
  /* <li data-quantity="optional 10ml" data-vegetable="liquid">Olive oil</li> */
  [data-vegetable="liquid"] {
    background-color: goldenrod;
  }
  
  /* <li data-quantity="700g" data-vegetable="not spicy like chili">Red pepper</li> */
  [data-vegetable~="spicy"] {
    color: red;
  }

/* ---------------------------------------
    Substring value attribute selectors 

    [attr|=val]
    [attr^=val]
    [attr$=val] 
    [attr*=val] 
*/

/* Classic usage for language selection */
[lang|="fr"] {
    font-weight: bold;
  }
  
  /* All elements with the attribute "data-quantity", for which
     the value starts with "optional" */
  [data-quantity^="optional"] {
    opacity: 0.5;
  }
  
  /* All elements with the attribute "data-quantity", for which
     the value ends with "kg" */
  [data-quantity$="kg"] {
    font-weight: bold;
  }
  
  /* All elements with the attribute "data-vegetable" containing
     the substring "not spicy" are turned back to green */
  [data-vegetable*="not spicy"] {
    color: green;
  }

/* __________________________________________________________________
  
    Pseudo-classes and pseudo-elements
    ----------------------------------
    Pseudo-classes
  
    :active
    :checked
    :first
    :first-child
    :first-of-type
    :fullscreen
    :focus
    :hover
    :last-child
    :link
    :nth-child
    :nth-last-child
    :nth-last-of-type
    :nth-of-type
    :visited
    .....

    ----------------------------------
    Pseudo-elements

    ::after
    ::before
    ::first-letter
    ::first-line
    ::selection
    ::backdrop
*/
/* All elements with an attribute "href" with values
   starting with "http" will have an arrow added after their
   content (to indicate they are external links) */
  [href^=http]::after {
  content: '⤴';
}


/* _____________________________________________________


    Combinators and selector lists
    ------------------------------------
    Selector list 	                A , B   (и А, и В)
    Descendant combinator       	A   B   (потомок)
    Child combinator 	            A > B   (прямой ребенок)
    Adjacent sibling combinator 	td + td (только первых два td)
    General sibling combinator  	td ~ td (все последующие td, кроме первого td)

*/

/* <element class="with-currency" lang="en-US"> 
    ...
        <td :last-child ::before>  */
.with-currency[lang="en-US"] td:last-child::before {
    content: '$';
  }
  
/* <element class="with-currency" lang="fr"> 
    ...
        <td :last-child ::after> */
  .with-currency[lang="fr"] td:last-child::after {
    content: ' €';
  }


/* ------------------------------------------------
    Groups of selectors on one rule

    Important: If a single selector is not supported by the browser, 
    then the whole selector list gets ignored.
    */
    h1, h2, h3, h4, h5, h6 {
        font-family: helvetica, 'sans serif';
      }


/* _________________________________________________
            Inheritance 

    yes: font-family and color to be inherited
    not: margin, padding, border, and background-image to NOT be inherited

    ----------------------------------------------
            Importance (override other rules)
            */
            .better {
                background-color: gray;
                border: none !important;
              }

/* _______________________________________________
        Advanced box manipulation

        Overflow

    auto: If there is too much content, the overflowing content is hidden and scroll bars are shown to let the user scroll to see all the content.
    hidden: If there is too much content, the overflowing content is hidden.
    visible: If there is too much content, the overflowing content is shown outside of the box (this is usually the default behavior.)

  ---------------------------------------------
            Background clip
        */
        .default     { background-clip: border-box;  }
        .padding-box { background-clip: padding-box; }
        .content-box { background-clip: content-box; }

        