/* Styling text
_____________________________________________________

Fundamental text and font styling

-----------------------------------------------------


    font-style: Used to turn italic text on and off. Possible values are as follows (you'll rarely use this, unless you want to turn some italic styling off for some reason):
        normal: Sets the text to the normal font (turns existing italics off.)
        italic: Sets the text to use the italic version of the font if available; if not available, it will simulate italics with oblique instead.
        oblique: Sets the text to use a simulated version of an italic font, created by slanting the normal version.
    font-weight: Sets how bold the text is. This has many values available in case you have many font variants available (such as -light, -normal, -bold, -extrabold, -black, etc.), but realistically you'll rarely use any of them except for normal and bold:
        normal, bold: Normal and bold font weight
        lighter, bolder: Sets the current element's boldness to be one step lighter or heavier than its parent element's boldness.
        100–900: Numeric boldness values that provide finer grained control than the above keywords, if needed. 
    text-transform: Allows you to set your font to be transformed. Values include:
        none: Prevents any transformation.
        uppercase: Transforms all text to capitals.
        lowercase: Transforms all text to lower case.
        capitalize: Transforms all words to have the first letter capitalized.
        full-width: Transforms all glyphs to be written inside a fixed-width square, similar to a monospace font, allowing aligning of e.g. latin characters along with asian language glyphs (like Chinese, Japanese, Korean.)
    text-decoration: Sets/unsets text decorations on fonts (you'll mainly use this to unset the default underline on links when styling them.) Available values are:
        none: Unsets any text decorations already present.
        underline: Underlines the text.
        overline: Gives the text an overline.
        line-through: Puts a strikethrough over the text.
    You should note that text-decoration can accept multiple values at once, if you want to add multiple decorations simultaneously, for example text-decoration: underline overline. Also note that text-decoration is a shorthand property for text-decoration-line, text-decoration-style, and text-decoration-color. You can use combinations of these property values to create interesting effects, for example text-decoration: line-through red wavy.
--------------------------------------------------------------
 Text drop shadows

 */
 a {
 text-shadow: 4px 4px 5px red;
 /* or */
 text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4); }
/*---------------------------------------------------------
 text-align property 

left: Left justifies the text.
right: Right justifies the text.
center: Centers the text.
justify: Makes the text spread out 


------------------------------------------------------------
Letter and word spacing */

p::first-line {
    letter-spacing: 2px;
    word-spacing: 4px;
  }


/* ---------------------------------------------------------
Font shorthand

font-style, font-variant, font-weight, font-stretch, font-size, line-height, and font-family

*/
a {
    font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;
}


/* ____________________________________________________________

Styling lists

styling defaults:

    The <ul> and <ol> elements have a top and bottom margin of 16px (1em)  and a padding-left of 40px (2.5em.)
    The list items (<li> elements) have no set defaults for spacing.
    The <dl> element has a top and bottom margin of 16px (1em), but no padding set.
    The <dd> elements have margin-left of 40px (2.5em.)
    The <p> elements we've included for reference have a top and bottom margin of 16px (1em), the same as the different list types.

    ----------------------------------------------------------
List-specific styles

list-style-type: Sets the type of bullets
list-style-position: inside/outside
list-style-image: url(star.svg); However, this property is a bit limited in terms of 
controlling the position, size, etc. of the bullets. 
*/
ul li {
    background-image: url(star.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }

  /* list-style shorthand */
  ul {
    list-style: square url(example.png) inside;
  }

  /* Controlling list counting 

  <ol start="4" reversed>
    <li value="2">4</li>
    <li value="4">3</li>
  </ol>


______________________________________________________

Styling links
*/
a {outline: none; text-decoration: none;}
a:link {}
a:visited {}
a:focus {border-bottom: 1px solid} /*  with no color specified. Doing this makes the border adopt the same color */
a:hover {border-bottom: 1px solid} /* The underline has been created using border-bottom, not text-decoration — some people prefer this */
a:active {background: #265301; color: #CDFEAA;}

/* Including icons on links */

a[href*="http"] {
    background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
  }

/* -----------------------------------
Styling links as buttons */

ul {padding: 0; width: 100%;}
li {display: inline;} /* <li> elements are normally block by default */
a {display: inline-block;
    width: 19.5%; margin-right: 0.625%;}
li:last-child a {margin-right: 0;}


/* __________________________________

Web fonts
*/

@font-face {
    font-family: '2-Questa_Regular';
    src: url('fonts/2-Questa_Regular-webfont.woff2') format('woff2'),
         url('fonts/2-Questa_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

p {font-family: '2-Questa_Regural', serif;}


/* Using the same font-family name keeps things simple and provides a fallback
font-weight/font-style: These lines specify what weight the font has, and whether 
it is italic or not. If you are importing multiple weights of the same font, you can 
specify what their weight/style is and then use different values of font-weight/font-style 
to choose between them, rather than having to call all the different members of the font family 
different names. */
body { font-family:"DroidSerif", Georgia, serif; }
h1 { font-weight:bold; }
em { font-style:italic; }
strong em {
	font-weight:bold;
	font-style:italic;
}
